@page
@model Demo_KTLT_2021_12.Pages.MH_SuaSanPhamModel
@{
}

@if (Model.coSanPham)
{
<form method="post">
    <label for="">Nhap Ten san pham: </label>
    <br />
    <input type="text" name="TenSP"
           id="@Model.TenSP"
           value="@Model.SanPham.TenSanPham" />
    <br />
    <label for="">Nhap Gia san pham: </label>
    <br />
    <input type="text" name="GiaSP"
           id="@Model.GiaSP"
           value="@Model.SanPham.Gia" />
    <br />
    <br />
    <div>
        <button type="submit" class="btn btn-success">Xác nhận</button>
        <a href="/MH_DanhSachSanPham" class="btn btn-info" style="text-decoration: none;">Hủy</a>
    </div>
</form>
<br />
}

@Model.Chuoi
